/* #########################################HEADER########################################## */
/* some starting rules */
/* "Common" means the elements that are present in all pages */
:root {
  /* Potential Colors 1 */
  --color-scheme1: #5680E9;
  --color-scheme2: #84CEEB;
  --color-scheme3: #5AB9EA;
  --color-scheme4: #C1C8E4;
  --color-scheme5: #8860D0;
  /* testing colors */
  --primary-color: #44C594;
  --secondary-color: #63CFA6;
  --color3: #A1E2C9;
  /* --color4 : ; */
}

body {
  padding-bottom: 100px;
}



.indextable th:nth-child(1) {
  width: 5%;
}
/* Drop is only present on main page for 24,7 and 28 days data */
.dropdown {
  display: inline;
}

.dropdown-btn {
  /* border: 1px yellow solid; */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.dropdown select {
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
}

.addplaylist {
  display: inline;
  padding: 10px 5px 10px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px yellow solid; */
}

/* COMMON */
#addplaybtn a {
  border: 1px solid grey;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
}

/* css for the top button on the addplaylist button page. */
#addplaybtn button {
  border: 1px solid grey;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  outline: none;
}

#addplaybtn button:hover {
  border: 2px solid grey;
}

/* COMMON */
nav .nav__link {
  transition: 0.3s ease;
  /* background: #3fa46a; */
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 5px;
  font-size: 17px;
}

.nav__link:hover {
  border-top: 4px solid #fdce4b;
  border-bottom: 4px solid #fdce4b;
  padding: 6px 0;
}

.dropdown:hover {
  color: black !important;
}


/* ######################Fixing the long playlist names######################### */
#playlist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
}

.tableheadcenter th {
  text-align: center;
}

/* ######################Fixing the long spotify link ######################### */
.playlisttable {
  table-layout: fixed;
  width: 100px;
  border-collapse: collapse;
}

.playlisttable th:nth-child(1) {
  width: 5%;
}

.playlisttable th:nth-child(5) {
  width: 10%;
}

.playlisttable th:nth-child(6) {
  width: 9.5%;
}

.playlisttable div {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* vertical-align: top; */
}

.playlisttable div:hover {
  z-index: 1;
  width: auto;
  background-color: #FFFFCC;
}

/* ###################################### blacklist page design ############################################# */
.blacklist__class {
  text-align: center;
}

.card {
  width: 200px !important;
  height: 200px !important;
  background-size: cover;
  text-align: center;
}

.card-columns {
  display: grid !important;
  grid-template-columns: repeat(6, 215px);
  margin: auto;
}

.card {
  border-radius: 10px !important;
}

.card:hover {
  border: 2px solid #3E7DC0 !important;
}

.card-columns a {
  color: white;
}

/* ###################################### blacklist page design Ends Here############################################# */
/* ###################################### Potential playlist page design Starts from Here############################################# */
/* #ppt__navbar{

  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../images/select-arrow.png),
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*  */
#ppt__navbar {
  border: 0px;
  outline: 0px;
}

.drop__down {
  font-weight: 700;
}
/* fixing the  long playlist names*/
#shortpp__name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

/* ###################################### Potential playlist page design Ends Here############################################# */
/* ######################################### login page design starts from here ##################################### */
.login__body {
  /* background-image:linear-gradient(#c29200,#d7a100); */
  background-image: url("/static/img/headphone.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .login__body {
    background-image: url("/static/img/mobile1.jpg");
  }
}

@media screen and (max-width:900px) {
  .login {
    opacity: 0.5;
  }
}

.login__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  text-align: center;
  width: 300px;
  border: 2px dashed grey;
  border-radius: 10px;
  width: 320px;
  height: 350px;
  opacity: 0.8;
  background-color: white;
  box-shadow: 5px 5px grey;
}

.login:hover {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  width: 330px;
  height: 355px;
}

.user__name, .user_pass {
  /* border:10px solid yellow; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.user_inp, .pass_inp {
  border-radius: 7px;
  width: 250px;
  height: 40px;
}

/* ##############################################Login page design ends here########################################## */
/* ############################################# Fileters Designs start Here ##################################### */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ############################################# Fileters Designs Ends Here ##################################### */
/* ############################################# Footer starts from Here ##################################### */
footer {
  position:fixed ;
  margin-bottom: 0px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #191919;
  height: auto;
  /* width: 100vw; */
  /* padding-top: 40px; */
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  background: #191919;
  /* width: 100vw; */
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
