{% include "header.html" %}


<div class="dropdown-btn">

  <!-- btn start -->
  <div class="addplaylist" id="addplaybtn">
    <a href="">Add Playlist ✏️</a>
  </div>
  <!-- btn end -->
</div>

</div>

<div class="table-responsive">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Amount Paid</th>
        <th>Playlist Link</th>
        <th>Country(Optional)</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td><input></td>
        <td><input type=text></td>
        <td><input type="text"></td>
        <td><input type="date"></td>
        <td><input type="date"></td>
      </tr>

    </tbody>
  </table>
  <!-- ################################################################################ -->
</div>
{% include "footer.html" %}
