{% include "header.html" %}

<div class="dropdown-btn">

  <!-- btn start -->
  <div class="addplaylist" id="addplaybtn">
    <button type="button" name="button" onclick="addpp()">Potention Playlist ➕</button>
  </div>
  <!-- btn end -->
</div>

</div>

<form action="{{ url_for('handle_ppt') }}" method="post">
  <div class="table-bordered indextable" style="overflow-x:auto;">
    <!-- table-responsive -->
    <!-- table mb-0 -->
    <table class="table mb-0">
      <thead>
        <tr class="tableheadcenter">
          <th>Index</th>
          <th onclick="forward()">Amount ($)&nbsp;&nbsp;<i class="arrow down"></i></th>
          <!-- <th>Location</th> -->

          <th><select name="Location" id="ppt__navbar" onchange="javascript:handleSelect(this)" class="drop__down">Location
            {% if selectedCountry%}
            <!-- potential playlist navbar to remove its border -->
            <option value="/" id="ppt__navbar"><strong>{{selectedCountry}}</strong></option>
            {% else %}
            <option value="/"><strong>Location</strong></option>
            {% endif %}
              <!-- write a loop here to generate a list of all the available country in the database -->
              {% for country in countrylist %}
              {% if country == "Location" %}
              <option value="/potentialplaylists">{{country}}</option>
              {% else %}
              <option value="/{{country}}">{{country}}</option>
              {% endif %}

              {% endfor %}
            </select></th>






          <th>Playlist Link</th>
          <th>Curator Contact🗣️</th>
        </tr>
      </thead>
      <tbody id="potentialplaylisttbl">

        <!-- setting a variable for total -->
        {% set TotalAmount = [] %}
        {% for dict in pptdata %}


        <tr>
          {% for key,value in dict.items() %}
          {% if loop.index == 2 %}
          {% set __ =  TotalAmount.append(value | replace('$','') | int) %}
          <td contenteditable="true">
              <div>{{value}}</div>
          </td>
          {% else %}
          <td contenteditable="true">
              <div>{{value}}</div>
          </td>
          {% endif %}

          {% endfor %}
        </tr> <!-- the table will  be added here by javascript -->
        <!-- </tbody> -->
        {% endfor %}

        <tr>
          <td><b>TOTAL</b></td>
          <td><b>${{TotalAmount | sum}}</b></td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
    </table>
    <!-- ################################################################################ -->
  </div>
</form>
{% include "footer.html" %}
