<!-- <div class=footer>
  <ul>
    <li>Made with love 💓</li>
  </ul>
</div> -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 ripple-surface" href="#!" role="button" style="min-width: 37px;"><i class="fab fa-twitter"></i>
        <div class="ripple-wave active" style="left: -13px; top: -9px; height: 58px; width: 58px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style=""><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 ripple-surface" href="#!" role="button" style="min-width: 37px;"><i class="fab fa-instagram"></i>
        <div class="ripple-wave active" style="left: -23.0588px; top: -12.0588px; height: 68.1175px; width: 68.1175px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
        <div class="ripple-wave active" style="left: -8.82766px; top: -9.82766px; height: 63.6553px; width: 63.6553px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1 ripple-surface" href="#!" role="button" style="min-width: 37px;"><i class="fab fa-linkedin-in"></i>
        <div class="ripple-wave active" style="left: -36.4462px; top: -19.4462px; height: 78.8923px; width: 78.8923px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style=""><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>



<!-- <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"> -->
<script src="{{url_for('static', filename='index.js')}}">

</script>
</body>

</html>
