<!-- <!DOCTYPE html>-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Curator🎸 | Effortlessly handle your artists profile</title>
  <!-- <link rel="stylesheet" href="/static/style.css"> -->
  <link rel="shortcut icon" type="image/jpg" href={{url_for('static', filename='favicon.ico')}}/>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.js')}}"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- javascript starts from here -->
  <!-- ############################################################################################# -->
  <script type="text/javascript">
    function handleSelect(elm) {
      window.location = elm.value;
    }
  </script>
  <!-- ############################################################################################# -->


</head>

<body class="">
  <nav class="navbar">
    <h3>🎶Spotify Curator🎸</h3>
    <div>
      <ul class="nav-ul">
        <li class="nav-li"><a style="text-decoration:none; color:white;" href='/'>{{var}}<a/></li>
        <li class="nav-li"><a style="text-decoration:none; color:white;" href="addplaylists">Add playlist</a></li>
        <li class="nav-li"><a style="text-decoration:none; color:white;" href="ratepps">rate pps</a></li>
        <li class="nav-li"><a style="text-decoration:none; color:white;" href="potentialplaylists">Potential Playlist</a></li>
        <li class="nav-li"><a style="text-decoration:none; color:white;" href="blacklist">BlackList</a></li>
        <li class="nav-li">My Account</li>
      </ul>
    </div>
  </nav>
