<!-- <!DOCTYPE html>-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Curator🎸 | Effortlessly handle your artists profile</title>
  <!-- <link rel="stylesheet" href="/static/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- java starts from here -->
  <!-- ############################################################################################# -->
  <script type="text/javascript">
    function handleSelect(elm) {
      window.location = elm.value;
    }
  </script>
  <!-- ############################################################################################# -->


</head>

<body>
  <nav class="navbar">
    <h3>🎶Spotify Curator🎸</h3>

    <div>
      <ul class="nav-ul">
        <li class="nav-li">About</li>
        <li class="nav-li"><a href="potentialplaylists">Potential Playlist</a></li>
        <li class="nav-li">Sign in</li>
      </ul>
    </div>
  </nav>
