<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Spotify Curator</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>


  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h2>🎶Spotify Curator🎸</h2>
      </a>
    </div>
  </nav>
  <!-- adding list from Here  -->


  <div class="mainHeaderList">

    <div class="headerList">
      <ul>
        <li>ROS</li>
        <li>Amount Paid</li>
        <li>Playlist Name</li>
        <li>Money Made</li>
        <li>Streams</li>
      </ul>
    </div>

    <hr>
    <div id="addplaybtn">
      <a href="">Add Playlist</a>
    </div>

    <div class="maindataList">
      <ul class="dataList">
        <li>#1</li>
        <li><input style="border:0;" type="text"></li>
        <li>"Hip Hop 90`s & 2000 - Classics"</li>
        <li>$200</li>
        <li>129,306</li>


      </ul>

    </div>
    <!-- ################################################################################ -->
    <div class="maindataList">
      <ul class="dataList">
        <li>#1</li>
        <li><input style="border:0;" type="text"></li>
        <li>"Hip Hop 90`s & 2000 - Classics"</li>
        <li>$200</li>
        <li>129,306</li>


      </ul>

    </div>
    <!-- ################################################################################### -->

    <div class="maindataList">
      <ul class="dataList">
        <li>#1</li>
        <li><input style="border:0;" type="text"></li>
        <li>"Hip Hop 90`s & 2000 - Classics"</li>
        <li>$200</li>
        <li>129,306</li>


      </ul>

    </div>







  </div>

</body>

</html>
