<!-- <!DOCTYPE html>-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Curator🎸 | Effortlessly handle your artists profile</title>
  <!-- <link rel="stylesheet" href="/static/style.css"> -->
  <link rel="shortcut icon" type="image/jpg" href={{url_for('static', filename='favicon.ico')}}/>

  <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.js')}}"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- javascript starts from here -->
  <!-- ############################################################################################# -->
  <script type="text/javascript">
    function handleSelect(elm) {
      window.location = elm.value;
    }
  </script>
  <!-- ############################################################################################# -->


</head>

<body>
  <div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
<!-- <body class="login__body">
  <div class="login">
    <form class="form">
      <h3> LogIn </h3>
      <hr />
      <div class="user__name">
        <input class="user_inp" type="text" placeholder="Enter Your Name" />
      </div>
      <div class="user__pass">
        <input class="pass_inp" type="password" placeholder="Enter Your password" class="cp" />
      </div>
      <hr />
      <p class="text-right"><a href="">Forgot Password...?</a>
      </p>
      <button class="login-btn">LogIn</button>
    </form>
  </div> -->
{% include "footer.html" %}
