{% include "header.html" %}

<div class="table-bordered table-responsive" style="overflow-x:auto;">
  <table class="table mb-0">
    <thead>
      <tr class="tableheadcenter">
        <th>Index</th>
        <th>Country</th>
        <th>PPS</th>
        <th>Per Million Streams</th>
        <th>Analysis</th>
        <th>Change in %</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in data.items() %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{data[key]["Country"]}}</td>
        <td>{{data[key]["PPS"]}}</td>
        <td>{{data[key]["Per Million Streams"]}}</td>
        <td>{{data[key]["Analysis"]}}</td>
        <td>{{data[key]["Change in %"]}}</td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% include "footer.html" %}
